<template data-controller-name='app.controllers.executor.dataVisualizationMode'>
    <div class="data-visualization">
        <div class="paginators">
            <div class="paginator">
                <div>{{ i18n 'BLOCK' }}</div>
                <div class="block-paginator"></div>
            </div>
            <div class="paginator">
                <div>{{ i18n 'RECORD' }}</div>
                <div class="record-paginator"></div>
            </div>
            <div class="paginator">
                <div>{{ i18n 'LINE' }}</div>
                <div class="line-paginator"></div>
            </div>
        </div>
        <div class="fields-wrapper"></div>
    </div>
</template>