<template data-controller-name='app.controllers.executor.displayTable'>	
	 <div class="displayTable">
        <div class="selects">
            <div class="select-visualization">
                <div>{{ i18n 'BLOCK' }}</div>
                <div class="block-select-visualization" id="selector-block"></div>
            </div>
            <div class="select-visualization">
                <div>{{ i18n 'RECORD' }}</div>
                <div class="record-select-visualization" id="selector-record"></div>
            </div>
        </div>
        <div class="fields-wrapper" id="table-space"></div>
    </div>
</template>