<template data-controller-name="app.controllers.executor.paginator">
	<div class="base-pagination-wrapper">
		<div class="btn icon-btn trans icon icon-font-Sign-and-Symbols icon-left" tabindex='0'></div>
		<div class="btn icon-btn trans icon icon-font-Sign-and-Symbols icon-leftmenu" tabindex='0'></div>
		<div class="btn icon-btn trans icon icon-font-Sign-and-Symbols icon-rightmenu" tabindex='0'></div>
		<div class="btn icon-btn trans icon icon-font-Sign-and-Symbols icon-right" tabindex='0'></div>
		<div class="actualPage"></div>
		<div class="totalPages"><input type="text" disabled="disabled" tabindex='0'/></div>
	</div>
</template>