<template data-controller-name="app.controllers.editor.relations.conditionFilter">
    <div class="condition-wrapper">
        <div class="envolve">
            <div class="logic-operator inputField">
            </div>
            <div class="operator inputField"></div>
            <div class="value-input inputField">
            </div>
            <div class="list">
                <div class="filterIconList btn icon-btn trans flat icon icon-font-DataManager icon-dataset"></div>
            </div>
            <div id="delete-icon" class="delete-icon">
                <span class="icon icon-font-Sign-and-Symbols icon-persign icon-btn btn flat trans"></span>
            </div>
            <div id="add-icon" class="add-icon">
                <span class="icon icon-font-Sign-and-Symbols icon-plussign icon-btn btn flat trans"></span>
            </div>
        </div>
    </div>
</template>
