<template data-controller-name='app.controllers.editor.relations.relationKeys'>
    <div class="key-wrapper">
        <div class='select-wrapper'>
            <label>{{i18n 'DEFINE KEY FIELD'}}</label>
            <div class="field-select fatherKey"></div>
        </div>
        <div class='select-wrapper'>
            <label>{{i18n 'DEFINE KEY FIELD'}}</label>
            <div class="field-select sonKey"></div>
        </div>
        <div id="delete-icon" class="delete-icon">
            <span class="icon icon-font-Sign-and-Symbols icon-persign icon-btn btn flat trans"></span>
        </div>
        <div id="add-icon" class="add-icon">
            <span class="icon icon-font-Sign-and-Symbols icon-plussign icon-btn btn flat trans"></span>
        </div>
        <div id="filter-icon" class="filter-icon">
            <span class="icon icon-font-Formatting-and-Tool icon-filter icon-btn btn flat trans"></span>
        </div>
    </div>
</template>
