<template data-controller-name='app.controllers.editor.relations.relationStructures'>
    <div class='relation-wrapper'>
        <div class='structure-wrapper'>
            <div class='select-wrapper'>
                <label>{{i18n 'FATHER'}}</label>
                <div class="father-select"></div>
            </div>
            <div class="br-select father-br"><span class=" icon icon-font-DataManager icon-dataset icon-btn btn flat trans key-btn"></span></div>
            <div class='select-wrapper'>
                <label>{{i18n 'SON'}}</label>
                <div class="son-select"></div>
            </div>
            <div class="br-select son-br"><span class=" icon icon-font-DataManager icon-dataset icon-btn btn flat trans key-btn"></span></div>
            <div id="delete-icon" class="delete-icon">
                <span class="icon icon-font-Sign-and-Symbols icon-persign icon-btn btn flat trans"></span>
            </div>
            <div id="add-icon" class="add-icon">
                <span class="icon icon-font-Sign-and-Symbols icon-plussign icon-btn btn flat trans"></span>
            </div>
        </div>
        <div class="hide-cb-parent"> 
        </div>
        <div class="keys-wrapper"></div>
    </div>
</template>
