<template data-controller-name='app.controllers.editor.relations.structureDialog'>
    <div>
        <div class="structure-wrapper">
            <div class="bloco-wrapper select-structure">
                <label>{{i18n 'BLOCK'}}</label>
                <div class='block-select'></div>
            </div>
            <div class="record-wrapper select-structure">
                <label>{{i18n 'RECORD'}}</label>
                <div class="record-select"></div>
            </div>
        </div>
    </div>
</template>
