<template data-controller-name='app.controllers.dialogs.format.FormatDate'>
	<div class="f-date">
		<div class="envolve">
			<div class="big-half date-field">
				<!-- <div class="left">{{i18n 'LENGTH'}}</div> -->
				<div class="select-day inputs medium"></div>
			</div>
			<div class="big-half date-field">
				<!-- <div class="left">{{i18n 'FILL'}}</div> -->
				<div class="select-month inputs medium"></div>
			</div>
			<div class="big-half date-field">
				<!-- <div class="left">{{i18n 'FILL'}}</div> -->
				<div class="select-year inputs medium"></div>
			</div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'SEPARATOR'}}</div>
			<div class="input-date-separator inputs"></div>
		</div>
		<div class="btnClear link">{{i18n 'CLEAR DATA'}}</div>
	</div>
<template>