<template data-controller-name='app.controllers.dialogs.format.Format'>
	<div id="dfg-format-dialog">
		<div class="envolve">
			<div class="big-half">
				<div class="left">{{i18n 'BLOCK'}}</div>
				<div id="comboBlocks" class="inputs medium"></div>
			</div>
			<div class="big-half">
				<div class="left">{{i18n 'RECORD'}}</div>
				<div id="comboRecords" class="inputs medium"></div>
			</div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'FIELD'}}</div>
			<div id="comboColumns" class="inputs"></div>
		</div>
		<div class="tab-content">
			
		</div>
	</div>
</template>