<template data-controller-name="app.controllers.executoran3.createReportDialog">
    <div class="createReport-dialog-wrapper">
        <div class="wrapper">
            <div class="envolve">
                <div class="left">{{i18n "TILE LAYOUT NAME" }}</div>
                <div class="name-input"></div>
            </div>
            <div class="envolve">
                <div class="left">{{i18n "DESCRIPTION" }}</div>
                <div id="textareaDescription" class="inputs">{{textarea description}}</div>
            </div>
        </div>
    </div>
</template>
