<template data-controller-name="app.controllers.executorSPED.ECD.creationFileControl">
  <div class="creationFileControlTab-wrapper">
      <div class="executeGeneralDataECD-wrapper">
        <table class="creationFileControl-ECD-form">
          <tr class="trMandatory">
            <td class="mandatory">
              <div class="mandatory-label">{{i18n "MANDATORY FIELD"}}</div>
            </td>
          </tr> 
          <tr>
            <th class="left">{{i18n "FILE PARAMETERS" }}</th>
          </tr>
          <tr>
            <td>
              <div class="left">{{i18n "BOOKKEEPPING TYPE" }}</div>
              <div class="bookkeeping-type element"></div>
            </td>
            <td>
              <div class="left">{{i18n "ECD TYPE" }}</div>
              <div class="ecd-type element"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">{{i18n "DEMONSTRATIVE TYPE"}}</div>
              <div class="demonstrative-type element"></div>
            </td>
            <td>
              <div class="left">{{i18n "SCP CODE" }}</div>
              <div class="scp-code smallElement"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">{{i18n "BOOKKEEPING FINALITY" }}</div>
              <div class="bookkeeping-finality element"></div>
            </td>
            <td>
              <div class="left">{{i18n "FINANCIAL VERSION"}}</div>
              <div class="financial-version smallElement"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">{{i18n "LAYOUT VERSION"}}</div>
              <div class="layout-version smallElement"></div>
            </td>
            <td>
              <div class="left">{{i18n "CLOSING DOCUMENT TYPE"}}</div>
              <div class="closing-document-type element"></div>
            </td>
          </tr>
          <tr>
            <th class="left">{{ i18n "SPECIAL SITUATION" }}</th>
          </tr>
          <tr>
            <td>
              <div class="left">{{ i18n "STARTING SITUATION"}}</div>
              <div class="starting-situation element"></div>
            </td>
          </tr>
          <tr>
            <th class="left">{{ i18n "CLOSING DATA" }}</th>
          </tr>
          <tr>
            <td>
              <div class="left">{{ i18n "CLOSING DATE ACTIVATION" }}</div>
              <div class="activation-date element"></div>
            </td>
          </tr>
          <tr>
            <th class="left">{{i18n "OUTPUT FILE" }}</th>
          </tr>
          <tr>
            <td>
              <div class="output-rb"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left">{{i18n "FILE NAME" }}</div>
              <div class="file-name element"></div>
            </td>
            <td>
              <div class="left">{{i18n "FILE NAME" }}</div>
              <div class="name-file element"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="run-rb"></div>
            </td>
          </tr>
        </table>
      </div>
  </div>
</template>
