 <template data-controller-name="app.controllers.executorSPED.ECF.questionContainer">
   <div> 	  
   	<div class="containerQuestion">
   		<div class="containerleft">
   			<div class="iconQuestion">
   				<span class="icon icon-font-File-and-Folders icon-docsholder"></span>		 		
   			</div>
   		</div>		 	
   		<div class="containerRight">
   			<div class="question" id="{{id}}">{{question}}</div>
   			<div class="answer"></div>
           <!-- <div class="answerInput">{{i18n "NOTE"}}:</div> -->
   		</div>
   	</div>   		  
   </div>
</template>