<template data-controller-name="app.controllers.executorSPED.ECF.reports">
   <div> 
	  <div class="executeECF-wrapper">
	  	<h4 class="titleReports">{{i18n "REPORT ECF"}}</h4>
	  	<div class="buttonsContainer">
			<button class="btn highlighted btnReport" tabindex="0">
				   <span class="icon icon-font-User icon-group"></span>
				   <span class="button-text">{{i18n "ALL USER"}}</span>
			</button>
			<button class="btn highlighted btnReport" tabindex="0">
				   <span class="icon icon-font-Time-and-Date icon-calendar"></span>
				   <span class="button-text">15 {{i18n "DAYS"}}</span>
			</button>
			<button class="btn highlighted btnReport" tabindex="0">
				   <span class="icon icon-font-Time-and-Date icon-calendar"></span>
				   <span class="button-text">30 {{i18n "DAYS"}}</span>
			</button>
			<button class="btn highlighted btnReport" tabindex="0">
				   <span class="icon icon-font-Time-and-Date icon-calendar"></span>
				   <span class="button-text">60 {{i18n "DAYS"}}</span>
			</button>
			<button class="btn highlighted btnReport" tabindex="0">
				   <span class="icon icon-font-Time-and-Date icon-calendar"></span>
				   <span class="button-text">{{i18n "ALL"}} {{i18n "DAYS"}}</span>
			</button>
			<button class="btn highlighted btnReport" tabindex="0">
				   <span class="icon icon-font-Sign-and-Symbols icon-goforward"></span>
				   <span class="button-text">60 {{i18n "REFRESH"}}</span>
			</button>
			<button class="btn highlighted btnReport" tabindex="0"> 
				   <span class="icon icon-font-Sign-and-Symbols icon-persign"></span>
				   <span class="button-text">60 {{i18n "CANCEL JOB"}}</span>
			</button>
			</div>
			
			
			<div class="table">	</div>
			
	  </div>
   </div>
</template>