<template data-controller-name='app.controllers.editor.floatingPanel.fiscalBookDialog'>
	<div class='fiscalBookDialog' id='fiscalBookDialog'>
		<div class='content-wrapper'>
			<div id="fiscal-company" class="options"></div>
			<div id="fiscal-options" class="options">
				<div id="fiscal-federal-option">{{radiobutton federal}}</div>
				<div id="fiscal-uf-option">{{radiobutton uf}}</div>
				<div id="fiscal-uf-select"></div>
			</div>
			<div id="fiscal-branch" class="options"></div>
			<div id="fiscal-tax" class="options"></div>
			<div id="fiscal-period" class="options"></div>

			<div id="fiscal-table"></div>
		</div>
	</div>
</template>