<template data-controller-name='app.controllers.executorSPED.fileECF'> 
 
    <div class="cnpjContainer">
        <div class="containerWraper">
            <div class="containerIconDoc">
                <span class="icon icon-font-File-and-Folders icon-docversion iconDocversion"></span>
                <div class="year">2107</div>   
            </div>
            <div class="information">
                <div class="textInformation">
                    <div class="title">CNPJ:</div>
                    <div class="textContent textCnpj">{{key}}</div>
                </div>
                <div class="textInformation">
                    <div class="title">Company:</div> 
                    <div class="textContent textCompany">{{idCompany}}</div>
                </div>
            </div>
        </div>
    </div>
 
</template>