<template data-controller-name="app.controllers.editor.groups.groupByDate">
    <div class="group-data-dialog">
        <div class="gd-wrapper">
            <div class="date-field-envolve">
                <div class="date-field-label">{{ i18n "FIELD" }}</div>
                <div class="date-field-select"></div>
            </div>
            <div class="filter-by-enolve">
                <div class="filter-by-label">{{ i18n "GROUP BY" }}</div>
                <div class="filter-by-rb"></div>
            </div>
        </div>
    </div>
</template>