<template data-controller-name="app.controllers.executorSPED.EFDICMSIPI.executeForm">
    <div class="executeTab-wrapper">
        <div class="executeICMSIPI-wrapper">
            <div class="variant-wrapper">
                <div class="left">
                    {{i18n "VARIANT"}}
                </div>
                <div class="variant-select">
                </div>
            </div>
            <table class="ICMSIPI-form">
                <tr>
                    <th>{{i18n "ORGANIZATIONAL STRUCTURE PARAMETERS" }}</th>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "ORGANIZATION STRUCTURE" }}</div>
                        <div class="param-rb element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "COMPANY" }}</div>
                        <div class="company-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "BRANCH" }}</div>
                        <div class="branch-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "PERIOD" }}</div>
                        <div class="period element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "FISCAL STATE NUMBER"}}</div>
                        <div class="fiscal-registry-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "CENTRALIZATION BRANCH"}}</div>
                        <div class="centralization-branch-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <th class="left">{{i18n "EFD PARAMETERS" }}</th>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "RECORD" }}</div>
                        <div class="initialRecord element-efd"></div>
                    </td>
                    <td>
                        <div class="left">{{i18n "TO" }}</div>
                        <div class="finalRecord element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "FINANCIAL VERSION"}}</div>
                        <div class="financialVersion-input element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "LAYOUT VERSION CODE" }}</div>
                        <div class="layoutVersion-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <th>{{i18n "NOTA FISCAL PARAMS" }}</th>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "DOCUMENT" }}</div>
                        <div class="initialDocument element-efd"></div>
                    </td>
                    <td>
                        <div class="left">{{i18n "TO" }}</div>
                        <div class="finalDocument element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "FILE CODE USE" }}</div>
                        <div class="file-code-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="precalculate-cb element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <th>{{i18n "FISCAL FILE DATA" }}</th>
                </tr>
                <tr>
                    <td>
                        <div class="efd-cb element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <th>{{i18n "INVENTORY DATA BLOCK H" }}</th>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "INVENTORY DATA BLOCK H"}}</div>
                        <div class="block-rb element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "INVENTORY PERIOD"}}</div>
                        <div class="inventory-period-select element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <th>{{i18n "PRODUCTION AND CONTROL OF STOCK"}}</th>
                </tr>
                <tr>
                    <td>
                        <div class="WIP-cb element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "PLANT" }}</div>
                        <div class="plant-select element-efd"></div>
                    </td>
                </tr>
                 <tr>
                    <td> 
                        <div class="precalculatedE-cb element-efd"></div>
                    </td>
                </tr>
                <tr>
                    <th>{{i18n "EXECUTION"}}</th>
                </tr>
                <tr>
                    <td>
                        <div class="left">{{i18n "EXECUTION" }}</div>
                        <div class="run-rb element-efd"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>
