<template data-controller-name="app.controllers.dialogs.listField.listFieldMetadata">
    <div class="listFieldMetadata">
        <div class="name-wrapper">
            <div>
                {{i18n "TILE LAYOUT NAME"}}
            </div>
            <div class="name-input">
                
            </div>
        </div>
        <div class="field-section">
            <div class="selection-section">
                <div class="selection-element-wrapper">
                    <div>
                        {{i18n "STRUCTURE"}}
                    </div>
                    <div class="structure-select">
                    </div>
                </div>
                <div class="selection-element-wrapper">
                    <div>
                        {{i18n "FIELD"}}
                    </div>
                    <div class="field-select">
                        
                    </div>
                    <button class="btn highlighted add-field-btn">{{i18n "ADD TO LIST"}}</button>
                </div>
            </div>
            <div class="field-list-section">
                <div class="field-list-container">
                    
                </div>
            </div>
        </div>
    </div>
</template>