<template data-controller-name='app.controllers.dialogs.filters.CBGroup'>
	<li class="filter-group">
		<span class="icon icon-font-Sign-and-Symbols icon-right"></span>
		<input type="text" class="nomeCase" value="{{i18n 'NAME GROUP'}}" disabled />
		<div class="icons">
			<div class="iconEdit">
				<span class="icon icon-font-Formatting-and-Tool icon-pensil"></span>
			</div>
			<div class="iconDelete">
				<span class="icon icon-font-Sign-and-Symbols icon-persign"></span>
			</div>
		</div>

		<div class="list-fields">
		</div>
	</li>
</template>