<template data-controller-name='app.controllers.dialogs.filters.CBValue'>
	<div class="value-wrapper">
		<div class="inputLogicOperator"></div>
		<div class="inputOperator"></div>
		<div class="inputValue"></div>
		<div class="list">
			<div class="filterIconList btn icon-btn trans flat icon icon-font-DataManager icon-dataset"></div>
		</div>
		<div class="insert">
			<span class="icon icon-font-Sign-and-Symbols icon-plussign"></span>
		</div>
		<div class="delete">
			<span class="icon icon-font-Sign-and-Symbols icon-persign"></span>
		</div>
	</div>
</template>