<template data-controller-name='app.controllers.dialogs.filters.ValueList'>
	<!-- <div class="list-editor-wrapper">
		<div class="auto-wrapper">
			<div class="auto-container"></div>
			<div class="type-container"></div>
		</div>
		<div class="description">{{i18n 'LISTD INST'}}</div>
		<textarea id="values-text"></textarea>
		<div class="error">{{i18n 'LISTD ERRO'}}</div>
		<div class="valid-values-preview"></div>
	</div> -->
	<div class="list-editor">
		<div class="text-title">{{i18n 'SELECT AN OPERATOR'}}</div>
		<div class="select-oper"></div>
		<div class="text-title">{{i18n 'LISTD WRITE VALUES'}}</div>
		<div class="text-wrapper">
			<textarea id="box" class="box"></textarea>
		</div>
		<div class="list-wrapper">
			<div class="list-title">{{i18n 'LISTD ADDED VALUES'}}</div>
			<div class="list-container"></div>
		</div>
		<div class="no-result">{{i18n 'LISTD NO RESULTS'}}</div>
	</div>
</template>