<template data-controller-name='app.controllers.dialogs.concat.concatFieldSelect'>
	<div class="concat-field-wrapper">
		<div class="field-select concat-select-large" ></div>
		<div class="concat-icons">
			<div class="icon-edit-concat">
				<span class="icon icon-font-Formatting-and-Tool icon-pensil"></span>
			</div>
			<div class="icon-add-concat">
				<span class="icon icon-font-Sign-and-Symbols icon-plussign"></span>
			</div>
			<div class="icon-delete-concat">
				<span class="icon icon-font-Sign-and-Symbols icon-persign"></span>
			</div>
		</div>
	</div>
</template>