<template data-controller-name='app.controllers.dialogs.concat.concat'>	
	<div id="dfg-concat-dialog" class="dfg-dialog">
		<div class="concat-section">
			<div class="concat-label">{{i18n 'BLOCK'}}</div>
			<div class="concat-select">
				<div id="blockSelect" ></div>
			</div>
			<div class="concat-label">{{i18n 'RECORD'}}</div>
			<div class="concat-select">
				<div id="recordSelect" ></div>
			</div>
		</div>

		<div class="concat-section">
			<div>
				<div class="concat-label">{{i18n 'FIELD'}}</div>
				<div id="comboField" class="concat-select-large"></div>
			</div>
		</div>

		<div id="tabs-wrapper"></div>

	</div>
</template>