<template data-controller-name="app.controllers.editor.DesignFormula">
	<div id="dfg-formula-dialog" class='dfg-dialog'>
		<div class="envolve">
			<div class="big-half">
				<div class="left">{{i18n 'BLOCK'}}</div>
				<div id="comboBlocks" class="inputs medium"></div>
			</div>
			<div class="big-half">
				<div class="left">{{i18n 'RECORD'}}</div>
				<div id="comboRecords" class="inputs medium"></div>
			</div>
		</div>
		<div class="envolve">
			<div class="big-half">
				<div class="left">{{i18n 'FIELD'}}</div>
				<div id="comboColumns" class="inputs medium"></div>
			</div>
			<div class="big-half">
				<div class="left">{{i18n 'STRUCTURE'}}</div>
				<div id="comboStructure" class="inputs medium"></div>
			</div>
		</div>  
		<div class="formula-browser">
		    
		</div>
	</div>
</template>

