<template data-controller-name='app.controllers.editor.DropDialog'>
    <div id='create-file-dialog'>
        <div class="mandatory">
            <div class="mandatory-label">{{i18n 'MANDATORY FIELD'}}</div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'BLOCK'}}</div>
            <div id="selectbloco"></div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'RECORD'}}</div>
            <div id="selectrecord"></div>
        </div>
    </div>
</template>
