<template data-controller-name='app.controllers.editor.floatingPanel'>
	<div class='left-content floating-panel' id="floating-panel">	

		<!--floating header-->
		<div class="floating-header layout-row">
			<div class="layout-cell floating-icon-left">
				<label for="floating-dock-btn" id="floating-dock-btn-label">
					<span class="icon icon-font-DataManager icon-dataset floating-dock"></span>
					<span class="icon icon-font-Display-and-Setting icon-openinanewwindow floating-undock"></span>
				</label>
			</div>
			<div class="layout-cell floating-middle-space"></div>
			<div class="layout-cell floating-icon-right">
				<label for="floating-hide-btn" id="floating-hide-btn-label">
					<span class="icon icon-font-Media icon-begin floating-hide"></span>
					<span class="icon icon-font-Sign-and-Symbols icon-persign floating-close"></span>
				</label>
			</div>	
		</div>		
		<!-- end of floating header-->


		<div class='search-wrapper'>
			<div class='search-container'>
				<div class="search-inner">
					<div id="report-search"></div>
				</div>
			</div>
		</div>
		<div class='filter-wrapper'>
			<!-- <div class='filter-description-container'>
				{{i18n 'BUILDER FILTER DESCRIPTION'}}
			</div> -->
			<div class='filter-buttons'>
				<div class='filter-btn icon-btn' id='filter-btn-noreport'>
					<span class='icon icon-font-File-and-Folders icon-document btn icon-btn trans flat pressed'></span>
				</div>
				<div class='filter-btn icon-btn' id='filter-btn-report'>
					<span class='icon icon-font-File-and-Folders icon-checkeddoc btn icon-btn trans flat'></span>
				</div>
				<div class='filter-btn icon-btn' id='filter-btn-number'>
					<span class='icon icon-font-Sign-and-Symbols icon-number btn icon-btn trans flat'></span>
				</div>
				<div class='filter-btn icon-btn' id='filter-btn-string'>
					<span class='icon icon-font-Sign-and-Symbols icon-string btn icon-btn trans flat'></span>
				</div>
				<div class='filter-btn icon-btn' id='filter-btn-calendar'>
					<span class='icon icon-font-Time-and-Date icon-calendar btn icon-btn trans flat'></span>
				</div>				
				<div class='filter-btn icon-btn' id='filter-btn-all'>
					<span class='icon icon-font-Display-and-Setting icon-all btn icon-btn trans flat'></span>
				</div>		
			</div>
		</div>
		<div id='accordion' class='accordion-wrapper'></div>

		<!--floating footer-->
		<div class="floating-footer layout-row">
			<div class="layout-cell floating-icon">
				<span class="icon icon-font-Sign-and-Symbols icon-drarrow footer-handle"></span>
			</div>
		</div>
		<!-- end of floating footer -->

	</div>
</template>