<template data-controller-name="app.controllers.editor.orderByDialog">
    <div class="order-by-dialog">
        <div class="order-by-wrapper">
            <div class="envolve">
                <div class="label">
                    {{i18n "FIELD" }}
                </div>
                 <div class="order-field-select fselect">
                </div>
            </div>
            <div class="envolve">
                <div class="label">
                    {{i18n "ORDER"}}
                </div>
                <div class="sort-select fselect">
                
                </div>
            </div>
            
           
        </div>
    </div>
</template>