<template data-controller-name="app.controllers.editor.spedMapping">
    <div class="dialog-wrapper">
        <div class="header-wrapper">
            <div class="envolve">
                <div>{{i18n "BLOCK" }}</div>
                <div class="block-select"></div>
            </div>
            <div class="envolve">
                <div>{{i18n "RECORD" }}</div>
                <div class="record-select"></div>
            </div>
        </div>
        <div class="field-wrapper">
        </div>
    </div>
</template>
