<template data-controller-name="app.controllers.dialogs.businessRuleDialog">
    <div class="dialog-container businessDialog">
        <div class="envolve">
            <label>{{ i18n 'BLOCK' }}</label>
            <div class="block-select">
            </div>
        </div>
        <div class="envolve">
            <label>{{ i18n 'RECORD' }}</label>
            <div class="record-select"></div>
        </div>
        <div class="envolve">
            <label>{{ i18n 'FIELD' }}</label>
            <div class="field-select"></div>
        </div>
        <div class="envolve">
            <label>{{ i18n 'RULE' }} </label>
            <div class="rule-select"></div>
        </div>
    </div>
</template>
 