<template data-controller-name="app.controllers.dialogs.copyRecord">
    <div class="copyRecord-dialog">
        <div class="wrapper">
            <div class="element-wrapper">
                <label>{{i18n 'COPY' }}</label>
                <div class="copy-select">
                </div>
            </div>
            <div class="element-wrapper">
                <label>{{i18n 'BLOCK/RECORD'}}</label>
                <div class="element-select"></div>
            </div>
            <div class="element-wrapper">
                <label>{{i18n 'COPY OPTIONS' }}</label>
                <div class="copy-options">
                    <div class="field-option option"></div>
                    <div class="filter-option option"></div>
                    <div class="format-option option"></div>
                    <div class="group-option option"></div>
                </div>
            </div>
            <div class="element-wrapper toBlock-wrapper">
                <label>{{i18n "TO BLOCK" }}</label>
                <div class="toBlock-select">
                </div>
            </div>
        </div>
    </div>
</template>
