<template data-controller-name='app.controllers.dialogs.DfgOutput'>	
	<div id="dfg-filters-dialog" class="dfg-dialog">
		<div class="envolve">
			<div class="big-half">
				<div class="left">{{i18n 'BLOCK'}}</div>
				<div id="comboBlocks" class="inputs medium"></div>
			</div>
			<div class="big-half">
				<div class="left">{{i18n 'RECORD'}}</div>
				<div id="comboRecords" class="inputs medium"></div>
			</div>
		</div>

		<div class="envolve envolve2">
			<div>
				<div class="left">{{i18n 'STRUCTURE'}}</div>
				<div id="comboStructure" class="inputs"></div>
			</div>
			<div>
				<div class="left">{{i18n 'FIELD'}}</div>
				<div id="comboField" class="inputs"></div>
			</div>
			<div>
				<div class="left">{{i18n 'NAME'}}</div>
				<div id="inputName" class="inputs"></div>
			</div>
			<div>
				<div class="left">{{i18n 'OPERATION'}}</div>
				<div id="comboOperation" class="inputs"></div>
			</div>
		</div>

	</div>
</template>