<template data-controller-name='app.controllers.dialogs.eefiDialog'>
    <div id='eefi-dialog'>
        <div class="envolve maior">
            <div class="left">{{i18n 'VERSION'}}</div>
            <div id="inputVersion" class="inputs"></div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'TILE COMPANY'}}</div>
            <div id="inputCompany" class="inputs"></div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'STATE'}}</div>
            <div id="inputState" class="inputs"></div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'TILE BRANCH'}}</div>
            <div id="inputBranch" class="inputs"></div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'TAX'}}</div>
            <div id="taxSelect" class="inputs"></div>
        </div>
        <div class="envolve maior">
            <div class="left">{{i18n 'FISCAL PERIOD'}}</div>
            <div id="subPeriodPic" class="inputs"></div>
        </div>
    </div>
</template>
