<template data-controller-name='app.controllers.dialogs.executarArquivoan4'>

    <div id='create-file-dialog'>
         <div class="envolve">
            <div class="left">{{i18n 'FILE 1'}}</div>
            <div id="file1" class="inputs"></div>
        </div>
         <div class="envolve">
            <div class="left">{{i18n 'FILE 2'}}</div>
            <div id="file2" class="inputs"></div>
        </div>
        <!--div class="envolve">
			<div class="left">{{i18n 'TILE PERIOD'}}</div>
			<div id="inputPeriod" class="inputs"></div>
		</div-->
        <!--div class="envolve">
			<div class="left">{{i18n 'TILE INITIAL FROM'}}</div>
			<div id="inputValidFrom" class="inputs"></div>
		</div-->
        <!--div class="envolve">
			<div class="left">{{i18n 'TILE DATE TO'}}</div>
			<div id="inputValidTo" class="inputs"></div>
		</div-->
    </div>

</template>