<template data-controller-name='app.controllers.dialogs.executarArquivo'>

    <div id='create-file-dialog'>
        <div class="envolve">
            <div class="left">{{i18n 'TILE COMPANY'}}</div>
            <div id="inputCompany" class="inputs"></div>
        </div>
        <div class="envolve">
            <div class="left">{{i18n 'STATE'}}</div>
            <div id="inputState" class="inputs"></div>
        </div>
        <div class="envolve">
            <div class="left">{{i18n 'TILE BRANCH'}}</div>
            <div id="inputBranch" class="inputs"></div>
        </div>
        <div class="envolve">
            <div class="left">{{i18n 'TAX'}}</div>
            <div id="taxSelect" class="inputs"></div>
        </div>
       <div class="envolve">
            <div class="left subPeriodPic" >{{i18n 'FISCAL PERIOD'}}</div>
            <div id="subPeriodPic" class="inputs"></div>
        </div>
     <div class="envolve">
            <div class="left movementCentralization">{{i18n 'CENTRALIZATION OF MOVEMENT'}}</div>
             <div class="inputs movementCentralization">{{checkbox chkMovementCentralization}}</div>
        </div>
       <!-- <div class="envolve">
            <div class="left executeAn3"></div>
            <div class="input-an3 inputs executeAn3"></div>
        </div>-->
        <!--div class="envolve">
			<div class="left">{{i18n 'TILE PERIOD'}}</div>
			<div id="inputPeriod" class="inputs"></div>
		</div-->
        <!--div class="envolve">
			<div class="left">{{i18n 'TILE INITIAL FROM'}}</div>
			<div id="inputValidFrom" class="inputs"></div>
		</div-->
        <!--div class="envolve">
			<div class="left">{{i18n 'TILE DATE TO'}}</div>
			<div id="inputValidTo" class="inputs"></div>
		</div-->
    </div>

</template>