<template data-controller-name="app.controllers.dialogs.FixedManualField">
    <div class="dialog-container fixed-manual-dialog">
        <div class="dialog-selects">
            <div class="envolve">
                <label>{{i18n 'FIELD'}}: </label>
                <div class="field-input"></div>
                <div class="required-checkbox"></div>
            </div>
        </div>
        <div class="dialog-selects">
            <div class="envolve">
                <label>{{i18n 'OPTIONS'}}: </label>
                <div class="option-input"></div>
                <div class="description-input"></div>
                <div class="length-input"></div>
                <span class="add-button icon icon-font-Sign-and-Symbols icon-plussign"></span>
            </div>
        </div>
        <div class="dialog-selects">
            <div class="options-table"></div>
        </div>
    </div>
</template>
