<template data-controller-name="app.controllers.dialogs.fixField">
    <div class="dialog-container">
        <div class="dialog-selects">
            <div class="envolve">
                <label>{{i18n 'NAME'}}</label>
                <div class="name-field fixed-field-property"></div>
            </div>
            <div class="envolve">
                <label>{{i18n 'TYPE' }}</label>
                <div class="type-field fixed-field-property"></div>
            </div>
            <div class="envolve">
                <label>{{i18n 'LENGTH' }}</label>
                <div class="size-field fixed-field-property"></div>
            </div>
            <div class="envolve options-envolve">
                <label>{{i18n 'OPTIONS' }}</label>
                <button class="btn addOption">{{i18n 'ADD OPTION' }}</button>
                <div class="option-container">
                </div>
            </div>
        </div>
    </div>
</template>
