<template data-controller-name="app.controllers.dialogs.groupedLinesDialog">
    <div class="grouped-lines-dialog-wrapper">
        <div class = "gl-dialog-row">
            <div class="input-name">
            </div>
        </div>
        <div class="gl-dialog-row">
            <div class="structure-select select-field">
            </div>
            
        </div>
        <div class="gl-dialog-row">
            <div class="group-select select-field">
            </div>
        </div>
    </div>
</template>