<template data-controller-name='app.controllers.dialogs.HeaderData'>
	<div id="dfg-header-dialog">
		<div class="envolve">
			<div class="left">{{i18n 'STRUCTURE GROUP'}}</div>
			<div id="inputStructureGroup" class="inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'STRUCTURE'}}</div>
			<div id="inputStructure" class="inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'TILE LAYOUT NAME'}}</div>
			<div id="inputName" class="inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'DIALOG DESCRIPTION'}}</div>
			<textarea id="inputDescription" class="inputs" maxlength="500"></textarea>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'TILE LAYOUT TYPE'}}</div>
			<div id="inputLayoutType" class="inputs"></div>
		</div>
	</div>
</template>