<template data-controller-name='app.controllers.dialogs.hideRuleTab'>
    <div class="concat-header">
        <div class="field-wrapper hideRuleTab">
            <div class="envolve">
                <label>{{i18n 'FILL WITH' }}</label>
                <div class="character-input"></div>
            </div>
            <div class="envolve">
                <label>{{i18n 'LENGTH' }}</label>
                <div class="size-input"></div>
            </div>
            <div class="envolve-cb">
                <div class="hide-value-cb">
                    
                </div>
            </div>
        </div>
    </div>
</template>
