<template data-controller-name='app.controllers.dialogs.MapConfig'>
	<div id="dfg-map-config-dialog">
		<div class="envolve">
			<div class="left">{{i18n 'TILE STRUCTURE'}}</div>
			<div class="inputStructure inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'TILE COMPANY'}}</div>
			<div class="inputCompany inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'TILE BRANCH'}}</div>
			<div class="inputBranch inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'STATE'}}</div>
			<div class="inputState inputs"></div>
		</div>
		<div class="envolve">
			<div class="left">{{i18n 'TILE VALID'}}</div>
			<div class="inputValidDate inputs"></div>
		</div>
	</div>
</template>