<template data-controller-name='app.controllers.dialogs.ParamManual'>	
	<div id="dfg-ParamManual">
		<div class="envolve">
			<div class="label left">{{i18n 'NAME'}}</div>
			<div class="label inputs"></div>
		</div>

		<div class="envolve">
			<div class="type left">{{i18n 'TYPE'}}</div>
			<div class="type inputs"></div>
		</div>
		<div class="envolve">
			<div class="type left">{{i18n 'LENGTH'}}</div>
			<div class="length inputs"></div>
		</div>
		<div class= "envolve f-number">
		    <div class="complete-wrapper big-half">
		        <div class = "left">
		            {{i18n 'FILL'}}
		        </div>
		         <div class="input-fill inputs medium"></div>
		    </div>
		    <div class="align-wrapper big-half">
		        <div class="left">{{i18n 'ALIGN'}}</div>
                <div class="input-align inputs medium"></div>
		    </div>
		</div>
	</div>
</template>