<template data-controller-name='app.controllers.dialogs.RDRecord'>
	<div class="record-wrapper">
		<div class="hide-selector removeItem">
			<span></span>
		</div>
		<div class="recordHeader">
			<div class="recordTitle">
				<h4></h4>
				<div class="parentFieldSelect-wrapper"></div>
			</div>
			{{button addFields}}
			<div class="recordTitle">
				<h4></h4>
				<div class="childFieldSelect-wrapper"></div>
			</div>
			<div class="hide-selector">
				<span></span>
			</div>
			<div class="addField hide-selector hide">
				<span></span>
			</div>
		</div>
		<div class="fieldList">
		</div>
	</div>
</template>