<template data-controller-name='app.controllers.dialogs.SequenceFormat'>
	<div id="SequenceFormat">
		
		<div class="envolve">
			<div class="left">{{i18n 'LENGTH'}}</div>
			<div class="input-length inputs medium"></div>
		</div>
		
		<div class="envolve">
			<div class="left">{{i18n 'FILL'}}</div>
			<div class="input-fill inputs medium"></div>
		</div>

		<div class="envolve">
			<div class="left">{{i18n 'ALIGN'}}</div>
			<div class="input-align inputs medium"></div>
		</div>

		<div class="btnClear format">{{i18n 'CLEAR FORMAT'}}</div>

	</div>
</template>