<template data-controller-name="app.controllers.dialogs.totalSelection">
    <div class="totalSelection-dialog">
        <div class="totalSelection-container">
            <div class="envolve">
                <div class="left">
                    {{i18n "BLOCK"}}
                </div>
                <div class="block-select">
                </div>
            </div>
            <div class="envolve">
                <div class="left">
                    {{i18n "RECORD"}}
                </div>
                <div class="record-select">
                </div>
            </div>
        </div>
    </div>
</template>
